@model ArianNovinWeb.ViewModels.LatestItemsVM

<div class="card mt-5 bg- ">
    <div class="card-header mb-2">
        <h3>@Model.Title</h3>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Items)
        {
            <li class="card bg-dark mb-2">
                <div class="card-header text-black text-bg-light bg-secondary">
                    <a class="text-black" href="@Url.Action("Index", new { id = item.PostId })">@item.Title</a>

            </div>
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@item.ImagePath" alt="Item Image" class="img-thumbnail" style="width: 150px; height: auto; margin-right: 5px;">
                    }
                </div>
                <div>
                    
                </div>
            </li>
        }
    </ul>
</div>
